<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.third.party.server.mapper.NotifyConfigMapper">

    <resultMap id="notifyConfig" type="com.bc.third.party.server.entity.NotifyConfig">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="config_data" property="data" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="addNotifyConfig" parameterType="com.bc.third.party.server.entity.NotifyConfig">
        insert into t_notify_config
        (
        id,
        type,
        status,
        config_data
        )
        values
        (
        #{id},
        #{type},
        #{status},
        #{data}
        )
    </insert>

    <select id="getNotifyConfigByType" parameterType="String" resultMap="notifyConfig">
        select *
        from t_notify_config
        where type = #{type}
    </select>
</mapper>