<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.third.party.server.mapper.SmsMapper">

    <resultMap id="smsResponse" type="com.bc.third.party.server.entity.SmsResponse">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="biz_id" property="bizId" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="message" property="message" jdbcType="VARCHAR"/>
        <result column="request_id" property="requestId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addSmsResponse" parameterType="com.bc.third.party.server.entity.SmsResponse">
        insert into t_sms_log
        (
        id,
        phone,
        biz_id,
        code,
        message,
        request_id,
        create_time
        )
        values
        (
        #{id},
        #{phone},
        #{bizId},
        #{code},
        #{message},
        #{requestId},
        now()
        )
    </insert>

    <select id="getPendingSmsResponseList" parameterType="String" resultMap="smsResponse">
        select *
        from t_sms_log
        where state = #{state}
        or receive_date is null
    </select>

    <update id="updateSmsResponse" parameterType="com.bc.third.party.server.entity.SmsResponse">
        update t_sms_log
        set state = #{state},
        send_date = #{sendDate},
        receive_date = #{receiveDate},
        template_code = #{templateCode},
        content = #{content},
        status = #{status},
        err_code = #{errCode}
        where id = #{id}
    </update>

</mapper>