<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.third.party.server.mapper.SystemConfigMapper">

    <resultMap id="systemConfig" type="com.bc.third.party.server.entity.SystemConfig">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="config_key" property="key" jdbcType="VARCHAR"/>
        <result column="config_value" property="value" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addSystemConfig" parameterType="com.bc.third.party.server.entity.SystemConfig">
        insert into t_system_config
        (
        id,
        config_key,
        config_value,
        create_time
        )
        values
        (
        #{id},
        #{key},
        #{value},
        now()
        )
    </insert>

    <select id="getSystemConfig" resultMap="systemConfig" parameterType="String">
        select *
        from t_system_config
        where config_key = #{key}
    </select>
</mapper>