<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.third.party.server.mapper.SystemConfigMapper">

    <resultMap id="systemConfig" type="com.bc.third.party.server.entity.SystemConfig">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="tyc_token" property="tycToken" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getSystemConfig" resultMap="systemConfig">
        select *
        from t_system_config
    </select>
</mapper>