<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.third.party.server.mapper.TycCompanyMapper">

    <insert id="addTycCompany" parameterType="com.bc.third.party.server.entity.company.tyc.TycCompany">
        insert into t_tyc_company
        (
        company_id,
        reg_number,
        reg_status,
        credit_code,
        reg_capital,
        company_type,
        name,
        id,
        org_number,
        type,
        base,
        city,
        district,
        legal_person_name,
        staff_num_range,
        from_time,
        to_time,
        bond_name,
        bond_num,
        is_micro_ent,
        used_bond_name,
        percentile_score,
        reg_institute,
        reg_location,
        industry,
        approved_time,
        social_staff_num,
        tags,
        tax_number,
        business_scope,
        property3,
        alias,
        estiblish_time,
        update_times,
        bond_type,
        actual_capital,
        company_org_type,
        reg_capital_currency,
        actual_capital_currency,
        revoke_date,
        revoke_reason,
        cancel_date,
        cancel_reason,
        history_names

        )
        values
        (
        #{companyId},
        #{regNumber},
        #{regStatus},
        #{creditCode},
        #{regCapital},
        #{companyType},
        #{name},
        #{id},
        #{orgNumber},
        #{type},
        #{base},
        #{city},
        #{district},
        #{legalPersonName},
        #{staffNumRange},
        #{fromTime},
        #{toTime},
        #{bondName},
        #{bondNum},
        #{isMicroEnt},
        #{usedBondName},
        #{percentileScore},
        #{regInstitute},
        #{regLocation},
        #{industry},
        #{approvedTime},
        #{socialStaffNum},
        #{tags},
        #{taxNumber},
        #{businessScope},
        #{property3},
        #{alias},
        #{estiblishTime},
        #{updateTimes},
        #{bondType},
        #{actualCapital},
        #{companyOrgType},
        #{regCapitalCurrency},
        #{actualCapitalCurrency},
        #{revokeDate},
        #{revokeReason},
        #{cancelDate},
        #{cancelReason},
        #{historyNames}
        )
    </insert>

</mapper>